resources/

.venv/
env/
__pycache__/
*.pyc

data/hmdb51/
data/hmdb51_splits/
features/
checkpoints/
runs/**/events*
experiments/logs/
experiments/checkpoints/

.ipynb_checkpoints/

*.log

.DS_Store

*.pth
*.pt
*.bin
pretrained/*.pth
